<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats.html.erb' %>
      </section>      
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div>
    <h1>Welcome to MusicTweets</h1>
    <div  align="center"><%= image_tag("logo.png", :alt => "log") %></div>
    <h2>
      Welcome to MusicTweets! Register and share songs on soundcloud with the other users!
    </h2>

    <div  align="center"><%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %></div>
  </div>
<% end %>